{% if content %}
    <div class = "region-content">
        {{ content }}
        <div class = "boxas" style="width: 500px">
        <canvas id="myChart" width="500" height="250"></canvas>
        </div>
    </div>
{% endif %}